<table [dataSource]="users" class="mat-elevation-z8" mat-table>

  <ng-container matColumnDef="id">
    <th *matHeaderCellDef mat-header-cell>User ID</th>
    <td *matCellDef="let user" mat-cell>{{user.id}}
    </td>
  </ng-container>

  <ng-container matColumnDef="fullName">
    <th *matHeaderCellDef mat-header-cell>User Name</th>
    <td *matCellDef="let user" mat-cell> {{user.givenName}} {{user.familyName}}
    </td>
  </ng-container>


  <tr *matHeaderRowDef="['id', 'fullName']" mat-header-row></tr>
  <tr *matRowDef="let row; columns: ['id', 'fullName'];" mat-row></tr>
</table>
